In [227]:
import sounddevice as sd
import matplotlib.pyplot as plt
import numpy as np
from mijngeluid import fft_partitioned

sd.query_devices()

   0 Microsoft-geluidstoewijzing - Input, MME (2 in, 0 out)
>  1 Microfoon (USB Audio Device ), MME (2 in, 0 out)
   2 Microphone Array (Realtek(R) Au, MME (2 in, 0 out)
   3 Microsoft-geluidstoewijzing - Output, MME (0 in, 2 out)
<  4 Speakers (Realtek(R) Audio), MME (0 in, 2 out)
   5 Luidsprekers (USB Audio Device , MME (0 in, 2 out)
   6 Headphones (Realtek HD Audio 2nd output), Windows WDM-KS (0 in, 2 out)
   7 Microfoonmatrix (Realtek HD Audio Mic input), Windows WDM-KS (2 in, 0 out)
   8 Mic in at front panel (black) (Mic in at front panel (black)), Windows WDM-KS (2 in, 0 out)
   9 Speakers 1 (Realtek HD Audio output with HAP), Windows WDM-KS (0 in, 2 out)
  10 Speakers 2 (Realtek HD Audio output with HAP), Windows WDM-KS (0 in, 2 out)
  11 Pc-luidspreker (Realtek HD Audio output with HAP), Windows WDM-KS (2 in, 0 out)
  12 Stereo-mix (Realtek HD Audio Stereo input), Windows WDM-KS (2 in, 0 out)
  13 Luidsprekers (USB Audio Device), Windows WDM-KS (0 in, 2 out)
  14 Microfoon (USB Audio Device), Windows WDM-KS (2 in, 0 out)

In [228]:
fs = 44100 # sample rate, zie microfoon specificaties
duration = 10 # in seconden
arr = sd.rec(int(duration * fs), samplerate=fs, channels=1, dtype='float64', device=14) # neemt op in de achtergrond
sd.wait()

arr.shape

(441000, 1)

In [229]:
df = fft_partitioned(arr[:,0], fs, duration, t_bin=1e-2) # t_bin is de bin grootte in seconden
df["I"]= 10*np.log10(df["y"] / 10**-12) # df[].between() filteren op kolombereik
df

         t             x         y          I
0     0.01      0.000000  0.000698  88.435720
1     0.01    100.684932  0.000544  87.354452
2     0.01    201.369863  0.000278  84.434872
3     0.01    302.054795  0.000052  77.127066
4     0.01    402.739726  0.000118  80.723419
..     ...           ...       ...        ...
215  10.00  21647.260274  0.000003  64.084826
216  10.00  21747.945205  0.000006  67.888836
217  10.00  21848.630137  0.000005  66.635593
218  10.00  21949.315068  0.000006  67.755666
219  10.00  22050.000000  0.000008  69.009443

[220000 rows x 4 columns]

In [1]:
plt.plot(df.t, df.I, 'r-')
plt.grid()
plt.xlabel(r"Tijd $t$ [s]")
plt.ylabel(r"dB")
plt.xlim(0,10)
plt.ylim(0, 110)

NameError: name 'plt' is not defined